@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
    background-color: lightblue;
}

.container h1 {
    height: 100%;
    width: 100%;
    margin-top: 30%;
    font-size: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}